* {
    box-sizing: border-box
}
body {
    background: #111;
    min-height: 100vh;
    overflow-x: auto;
}
.staff {
    animation: strike .5s .5s cubic-bezier(1, .25, 1, 1) both;
    bottom: 15vh;
    height: 100vh;
    left: 50%;
    position: absolute;
    transform: translate(15%, 0);
    width: 200px;
}
.shine {
    animation: flash 2s 1s ease;
    background: #fff;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.text {
    animation-name: shake;
    animation-iteration-count: 20;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-duration: .1s;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 150px;
}

* {
    fill: #fff;
    stroke: #fff;
}
@keyframes flash {
    0% {
        opacity: .85;
    }
    50% {
        opacity: .5;
    }
    75%, 100% {
        opacity: 0;
    }
}
@keyframes strike {
    from {
        transform: translate(15%, -100%);
    }
}
@keyframes shake {
    0%, 50%, 100% {
        transform: translate(-100%, -50%);
    }
    25% {
        transform: translate(-102%, -52%);
    }
    75% {
        transform: translate(-98%, -48%);
    }
}