body {
    background: #76b852;
}

#patienceOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.vid-container {
    text-overflow: ellipsis;
}

#vanillatoasts-container {
    z-index: 100;
}

.vanillatoasts-toast {
    z-index: 100;
}

.realm-card {
    width: 18rem;
    cursor: pointer;
}

#lightbox {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
